body {
  background-color: #131722;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202940;
  padding: 1rem;
  color: white;
}

.logo-and-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  height: auto; /* maintain aspect ratio */
  width: auto; /* adjust based on your logo's aspect ratio */
  max-height: 60px; /* adjust based on your header size */
  max-width: 100%; /* ensure it doesn't overflow */
  margin-right: 1rem;
}

.web-app-name {
  font-size: 2rem;
  color: white;
  margin: 0; /* Adjust if you need some spacing */
}

.top-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.top-nav li {
  margin-left: 2rem;
}

.top-nav a {
  color: #4b8bef;
  text-decoration: none;
  font-size: 1rem;
}

.about-us-link {
  position: absolute;
  right: 1rem;
}

.about-us-link a {
  color: #4b8bef;
  text-decoration: none;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.stat-box, .log-box {
  background-color: #202940;
  padding: 20px;
  border-radius: 5px;
  margin: 1rem;
  flex: 1; /* This makes each box take up equal space */
}

.logs-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.chart-container {
  background-color: #202940;
  padding: 20px;
  border-radius: 5px;
  margin: 1rem;
}

/* Further responsive adjustments and other styling as needed... */
